.toggle {
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;

    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.menuBar {
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;

    /* Hide scrollbar for Firefox */
    overflow: -moz-scrollbars-none;

    /* Hide scrollbar for Internet Explorer and Edge */
    -ms-overflow-style: none;

}

.menuBar::-webkit-scrollbar {
    display: none;
}